.articles {



.searchBar-section {
    width: 270px;
    margin: auto;
.searchBar {
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid;
    border-radius: 20px;

  .input {
    width: 250px;
    border: none ;
    border-radius: 20px;
  }
  .input:focus {
    outline: none;
  }

  .button {
    background-color: transparent;
    border: none;
    width: 25px;
    border-radius: 20px;
  }
 }
}

.slider-section {
    width: 220px;
    margin: auto;
    margin-bottom: 0px;

    .divOutput {
        display: flex;
        justify-content: center;
        border: none;
      }
      .divOutput > div {
        width: 80;
      }
      .divOutput > div:first-child {
        text-align: right;
        margin-right: 5px;
        
      }
      .divOutput > div:nth-child(2) {
        text-align: left;
        
      }
}

.button-primary {
    color: #fff !important;
    background-color: #e4ce4fee !important;
    border-radius: 10px  !important;
    height: 35px  !important;
    margin-left: 20px  !important;
    font-size: 15px  !important;
  }
.display {
  max-width: 1500px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 150px;
}

}